<body class="h-full w-full">
  <div class="min-h-screen flex justify-around p-10">
  <button mat-raised-button routerLink="/admin/drivers">All Drivers</button>
  <button mat-raised-button routerLink="/admin/drivers/manage/pendings">Manage Pending Drivers</button>
  <button mat-raised-button routerLink="/admin/available/drivers">Available Drivers</button>
  <button mat-raised-button routerLink="/admin/allbookings">All Bookings</button>
  <button mat-raised-button routerLink="/admin/allusers">All Users</button>
</div>

</body>